

:root{
  --main-color : #8316b5;
}

.App {
  text-align: center;
}

.bg-main-color{
  background-color: var(--main-color) !important;
}

.bg-transperent{
  background-color: transparent !important;}

/* FOOTER */

.footer{
  padding: 20px 0;
  border: none !important;
  background-color: var(--main-color) !important;
}

.ui.grid{
  display: contents !important;
}

.footer .list .item{
  padding: 10px 0 !important;
}

/* DASHBOARD */


/* */
.job-advertisement{

  width: 100%;
  box-shadow: 0 1px 5px 0 rgb(0 0 0 / 10%) !important;
  border-radius: 5px !important; 
}

.job-advertisement-table{
  border: none !important;
  margin-top: 5rem !important;
}

.carousel-home-img{
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.carousel-home-parallax{
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.carousel-control-next, .carousel-control-prev{
  z-index: 5 !important;
}
